#%RAML 1.0
---

title: Individuals Employments
version: P2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/employments:
  /:
    get:
      displayName: Entry point
      description: Use this endpoint to get a list of available endpoints for Individuals Employments.
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/root.md
      (annotations.scope): "The scopes you have been assigned"
      headers:
        Authorization:
          description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          required: true
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: The resource available to view an individual's employments
          body:
            application/json:
              example: !include examples/root.json
              type: !include schemas/root.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /paye:
    get:
      displayName: Retrieve Employments history
      description: !include docs/employments-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/employments-request.md
      (annotations.scope): "The scopes you have been assigned"
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-employments-paye scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API
          type: string
          required: true
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        startDate:
          description: The start date for employment data requested.
          type: string
          required: true
          example: 2019-01-01
        endDate:
          description: The end date for employment data requested. If missing, it defaults to today's date.
          type: string
          required: false
          example: 2020-03-01
      responses:
        200:
          description: The individual PAYE employments for the given period
          body:
            application/json:
              example: !include examples/employments-response.json
              type: !include schemas/employments-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
